<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ballmerlabs.scatterbrainsdk">

    <application>
        <receiver
            android:name=".internal.ScatterbrainBroadcastReceiverImpl"
            android:exported="true"
            android:permission="net.ballmerlabs.scatterroutingservice.permission.SUPERUSER">
            <intent-filter>
                <action android:name="net.ballmerlabs.scatterroutingservice.broadcast.NETWORK_EVENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>