<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ballmerlabs.scatterbrainsdk">
    <permission
        android:name="net.ballmerlabs.scatterroutingservice.permission.ACCESS"
        android:label="Scatterbrain access"
        android:protectionLevel="normal"
        />
    <permission
        android:name="net.ballmerlabs.scatterroutingservice.permission.ADMIN"
        android:label="Scatterbrain admin"
        android:protectionLevel="dangerous"
        />
    <permission
        android:name="net.ballmerlabs.scatterroutingservice.permission.SUPERUSER"
        android:label="Scatterbrain superuser"
        android:protectionLevel="signature"
        />

    <queries>
        <package android:name="net.ballmerlabs.scatterroutingservice" />
    </queries>
    <application>
        <receiver
            android:name=".internal.ScatterbrainBroadcastReceiverImpl"
            android:exported="true"
            android:permission="net.ballmerlabs.scatterroutingservice.permission.SUPERUSER">
            <intent-filter>
                <action android:name="net.ballmerlabs.scatterroutingservice.broadcast.NETWORK_EVENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>